<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>${project.name}</title>
  </properties>

  <body>
    <subsection name="${project.name}">
      <p>
        The <b>${project.name}</b> package provides a minimalist
        format for storing mesh data.
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Strongly-typed generic non-interleaved storage format.</li>
        <li>Carefully designed binary format that allows for mapping sections of files into memory for direct upload to the GPU. All data is strictly aligned for performance.</li>
        <li>Rich integer types: Store named arrays of 1-4 component 8/16/32/64-bit signed and unsigned integer vectors.</li>
        <li>Rich floating point types: Store named arrays of 1-4 component 16/32/64-bit floating-point vectors.</li>
        <li>Text and binary encodings.</li>
        <li><a href="http://blender.org">Blender</a> plugin to export directly to the text format.</li>
        <li>Event-based parsers for near zero-allocation parsing.</li>
        <li>Extensible filter system for processing and transforming mesh data.</li>
        <li>ISC license.</li>
        <li>High-coverage automated test suite.</li>
      </ul>
    </subsection>
  </body>

</document>
